@font-face {
  font-family: "Pokemon Fire Red";
  src: url("../fonts/poke.ttf") format("truetype");
}

html,
body {
  font-family: "Pokemon Fire Red", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  background: skyblue;
  display: block;
}

#gameCanvas {
  position: absolute;
  z-index: 0;
}

#battleCanvas {
  position: absolute;
  z-index: 1;
}